<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>App - Formulário</title>
</head>
<body>
	<h1>App - Formulário</h1>
	<form action="exibirAluno.html" th:action="@{/cadastrarAluno}" method="post" th:object="${aluno}">
		<p>Nome: <input type="text" th:field="*{nome}"></p>
		<p>Matrícula: <input type="text" th:field="*{matricula}"></p>
		<label th:for="${#ids.next('estrangeiro')}">É estrangeiro?</label>
		<input type="checkbox" th:field="*{estrangeiro}">
		<p>Participa de Projetos?</p>
		<ul>
			<li th:each="projeto : ${todosProjetos}">
				<input type="checkbox" th:field="*{projetos}" th:value="${projeto}">
				<label th:for="${#ids.prev('projetos')}" th:text="${projeto}">Projeto</label>
			</li>
		</ul>
		<p>Forma de Articulação entre a Educação Profissional Técnica de Nível Médio e o Ensino Médio</p>
		<ul>
			<li th:each="forma : ${todasFormas}">
				<input type="radio" th:field="*{formaArticulacao}" th:value="${forma}">
				<label th:for="${#ids.prev('formaArticulacao')}" th:text="${forma}">Forma</label>
			</li>
		</ul>
		<select th:field="*{uf}">
			<option th:each="umaUF : ${todasUFs}"
					th:text="${umaUF}"
					th:value="${umaUF}">UF</option>
		</select>
		<p><button type="submit">Enviar</button></p>
	</form>
</body>
</html>