<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>App - Banco de Dados</title>
<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
	<h1>App - Banco de Dados</h1>
	<table>
		<tr>
			<th>Nome</th>
			<th>Matrícula</th>
			<th>Ações</th>
		</tr>
		<tr th:each="aluno : ${alunos}">
			<td><a href="exibirAluno.html" th:text="${aluno.nome}" th:href="@{/exibir(id=${aluno.id})}" >Fulano de Tal</a></td>
			<td th:text="${aluno.matricula}">2018XYZ</td>
			<td><a href="tabelaAlunos.html" th:href="@{/excluir(id=${aluno.id})}">Excluir</a></td>
		</tr>
	</table>

</body>
</html>